@charset "UTF-8";
/*! normalize.css http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
@import url(http://fonts.googleapis.com/css?family=Rock+Salt);
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */
audio:not([controls]) {
  display: none; }

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none; }

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *  http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *  www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
  margin: 0; }

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
h1 {
  font-size: 2em;
  margin: 0; }

h2 {
  font-size: 1.5em;
  margin: 0; }

h3, .number-badge,
.circle-badge {
  font-size: 1.17em;
  margin: 0; }

h4 {
  font-size: 1em;
  margin: 0; }

h5 {
  font-size: 0.83em;
  margin: 0; }

h6 {
  font-size: 0.75em;
  margin: 0; }

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Addresses margins set differently in IE6/7
 */
p, .two-thirds ol,
pre {
  margin: 1em 0; }

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none; }

/* 2 */
q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 75%; }

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

/*
 * Addresses paddings set differently in IE6/7
 */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/*
 * Corrects list images handled incorrectly in IE7
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *  code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/*
 * Corrects overflow displayed oddly in IE9
 */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
  margin: 0; }

/*
 * Define consistent border, margin, and padding
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3 
 * 3. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
button,
input {
  line-height: normal;
  /* 1 */ }

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *  Known issue: inner spacing remains in IE6
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */ }

/*
 * Re-set default cursor for disabled elements
 */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
    Known issue: excess padding remains in IE6
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

body, .row, .accounts {
  *zoom: 1; }
  body:before, .row:before, .accounts:before, body:after, .row:after, .accounts:after {
    content: " ";
    display: table; }
  body:after, .row:after, .accounts:after {
    clear: both; }

.center {
  text-align: center; }

@media only screen and (min-width: 600px) {
  .center {
    text-align: left; } }
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

::selection {
  background: #eb4d6d;
  color: #fff; }

html {
  height: 100%; }

body {
  font-family: "freight-sans-pro", "cronos-pro-subhead", "Helvetica Neue", "Helvetica", sans-serif;
  background-color: #ffffff;
  color: #51515b; }

p, .two-thirds ol {
  font-family: "rooney-web", "merriweather", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 15px 0 25px 0; }

a {
  color: #eb4d6d;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  a:hover {
    text-decoration: underline;
    color: #e8365a; }

h1,
h2,
h3,
.number-badge,
.circle-badge,
h4,
.h1,
.h2,
.large,
.h3,
.h4 {
  color: #454d52;
  font-weight: 900; }

h1,
.h1 {
  font-size: 2rem;
  line-height: 1; }

h2,
.h2,
.large {
  font-size: 1.625rem;
  line-height: 1.1; }

h3, .number-badge,
.circle-badge,
.h3 {
  font-size: 1.1rem;
  line-height: 1;
  margin-bottom: 15px; }

.small, .caption, .translation {
  font-size: 0.9rem;
  line-height: 1.4;
  margin: 5px 0 15px 0; }

@media only screen and (min-width: 600px) {
  h1,
  .h1 {
    font-size: 2.25rem;
    line-height: 1.125; }

  h2,
  .h2,
  .large {
    font-size: 2rem;
    line-height: 1.25; }

  h3, .number-badge,
  .circle-badge,
  .h3 {
    font-size: 1.5rem;
    line-height: 1.25; }

  p, .two-thirds ol {
    font-size: 1.1rem; }

  .small, .caption, .translation {
    font-size: 1rem;
    line-height: 1.5; } }
@media only screen and (min-width: 1024px) {
  h1,
  .h1 {
    font-size: 3rem;
    line-height: 1.05; }

  h2,
  .h2,
  .large {
    font-size: 2.25rem; }

  h3, .number-badge,
  .circle-badge,
  .h3 {
    font-size: 1.75rem; }

  p, .two-thirds ol {
    font-size: 1.2rem;
    line-height: 1.55; } }
pre, code {
  font-family: 'consolas', 'menlo', courier, monospace, sans-serif;
  font-weight: 500;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #efefef; }

pre {
  border: 1px solid #d0d0d0;
  padding: 10px; }

p code, .two-thirds ol code {
  padding: 2px 5px 0;
  color: #2a90b8;
  border: 1px solid #d0d0d0; }

img {
  max-width: 100%; }

.logo {
  display: inline-block;
  width: 93px;
  height: 96px;
  padding: 20px;
  margin-left: -20px;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out; }
  .logo:hover {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg); }
  .logo svg path {
    fill: #eb4d6d; }

.caption {
  font-style: italic; }

.container {
  max-width: 1024px;
  margin: 0 auto; }

.row {
  padding-top: 20px; }
  .row:nth-last-of-type(2) {
    padding-bottom: 50px; }

.column,
.half,
.one-third,
.two-thirds,
.one-fourth,
.three-fourths {
  width: 100%;
  padding: 0 30px;
  float: left; }

@media only screen and (min-width: 600px) {
  .one-fourth {
    width: 25%; }

  .one-third {
    width: 33.3%; }

  .half {
    width: 50%; }

  .two-thirds {
    width: 66.67%; }

  .three-fourths {
    width: 75%; } }
.pr {
  float: right; }

.hide-mobile {
  display: none; }

@media only screen and (min-width: 600px) {
  .hide-mobile {
    display: inline-block; }

  .hide-desktop {
    display: none; }

  .responsive-break {
    display: none; } }
.two-thirds ol {
  padding-left: 40px; }

.header {
  margin-bottom: 20px; }

@media only screen and (min-width: 600px) {
  .header {
    margin-bottom: 30px; } }
.blog ul {
  padding: 0;
  list-style-type: none; }
.blog .post-link,
.blog .all-posts a {
  color: #454d52; }
  .blog .post-link:hover,
  .blog .all-posts a:hover {
    color: #eb4d6d;
    text-decoration: none; }

.post {
  margin: 20px -30px;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 1px solid #dddddd; }

@media only screen and (min-width: 600px) {
  .post:last-child {
    border: none; }

  .recent {
    margin-top: -20px; }
    .recent .column {
      padding-top: 20px; }
    .recent .two-thirds {
      border-right: 1px solid #dddddd; }

  .row-bdb {
    border-bottom: 1px solid #dddddd; } }
.bnr {
  background: url(../assets/bbkgd.png); }
  .bnr .subhead,
  .bnr a {
    color: #e9af10; }
  .bnr .content {
    background: #FFFFFF;
    margin-top: -30px;
    margin-bottom: 60px;
    padding-bottom: 10px; }
  .bnr .row {
    position: relative; }
  .bnr .title {
    margin-bottom: 40px; }
  .bnr .translation span {
    color: #45A6D4; }
  .bnr h1 {
    margin-top: -10px; }

@media only screen and (min-width: 1024px) {
  .bnr .content {
    padding: 10px 40px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px; } }
.logo-bnr svg path {
  fill: #e9af10; }

.number-badge,
.circle-badge {
  font-family: "rooney-web", "merriweather", Georgia, Cambria, "Times New Roman", Times, serif;
  text-align: center;
  color: #726A14;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.35); }

.number-badge {
  background: url(../assets/badge.svg) no-repeat;
  position: absolute;
  left: -53px;
  top: 23px;
  width: 65px;
  height: 55px;
  padding-right: 10px; }

.circle-badge {
  display: inline-block;
  position: relative;
  top: -3px;
  padding-top: 5px;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  background: #e9af10;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px; }

@media only screen and (min-width: 600px) {
  .circle-badge {
    top: 0;
    padding: 0; }

  .number-badge {
    display: none; } }
@media only screen and (min-width: 1024px) {
  .circle-badge {
    display: none; }

  .number-badge {
    display: inline-block; } }
.note {
  background: #FFFEA9;
  padding: 20px 20px 0;
  margin-bottom: 30px;
  border: 1px solid #fffd76;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2); }
  .note p, .note .two-thirds ol, .two-thirds .note ol {
    font-family: 'rock salt', cursive;
    color: #2A378F; }
  .note.one {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg); }
  .note.two {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg); }

.header {
  padding: 0;
  border-bottom: 1px solid #dddddd; }

.logo {
  margin: 0 auto 0 -20px; }

.nav, .accounts {
  list-style-type: none;
  padding: 0;
  float: right;
  margin-top: 30px;
  margin-right: -20px; }

.navmenu, .accounts li {
  float: left;
  display: inline-block;
  margin-bottom: 0;
  text-align: center; }

.navlinks, .accounts a {
  display: inline-block;
  padding: 10px 18px;
  color: #888888;
  font-weight: 500;
  text-transform: uppercase; }
  .navlinks:hover, .accounts a:hover {
    text-decoration: none;
    color: #eb4d6d; }

@media only screen and (min-width: 600px) {
  .header {
    border: none;
    padding-top: 20px; }

  .navlinks, .accounts a {
    padding: 10px 55px; } }
.profile {
  margin-top: 130px;
  text-align: center; }

.pic {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: -95px auto 0 auto;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -o-border-radius: 200px;
  border-radius: 200px;
  border: 5px solid #fff;
  box-shadow: 0 0 0 1px #dddddd; }

.intro {
  margin-top: 20px; }
  .intro h1,
  .intro .subhead {
    text-align: center; }

@media only screen and (min-width: 600px) {
  .profile {
    border-top: 1px solid #dddddd;
    margin-top: 100px; }

  .pic {
    height: 100px;
    width: 100px;
    margin-top: -70px; }

  .intro {
    margin-top: -50px; }
    .intro h1,
    .intro .subhead {
      text-align: left; } }
@media only screen and (min-width: 1024px) {
  .pic {
    width: 150px;
    height: 150px;
    margin-top: -100px; } }
.accounts {
  float: none;
  margin-right: 0;
  margin-bottom: 30px;
  margin-top: 0;
  padding-top: 20px;
  border-top: 1px solid #dddddd; }
  .accounts li {
    width: 33.3%; }
  .accounts a {
    width: 84px;
    height: 40px; }
    .accounts a:hover .icons {
      fill: #454d52; }
  .accounts .icons {
    fill: #eb4d6d;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

@media only screen and (min-width: 600px) {
  .accounts {
    border: none; }
    .accounts a {
      padding: 10px 30px; } }
.subhead {
  text-transform: uppercase;
  font-weight: 800;
  color: #eb4d6d;
  margin: 10px 0 30px; }

.translation {
  font-style: italic; }
  .translation span {
    font-weight: 700;
    display: inline-block;
    margin-right: 5px;
    color: #5fcf80; }

.logo-green svg path {
  fill: #5fcf80; }

.tldr {
  padding: 15px 20px 5px;
  margin-bottom: 20px;
  border: 1px solid #c7cccf;
  background: #f8fdf9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  .tldr h3, .tldr .number-badge,
  .tldr .circle-badge {
    padding-bottom: 10px;
    border-bottom: 1px solid #c7cccf; }

ol {
  padding-left: 20px;
  font-family: "rooney-web", "merriweather", Georgia, Cambria, "Times New Roman", Times, serif; }

li {
  margin-bottom: 10px; }

.star {
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  position: relative;
  top: 4px; }

@media only screen and (min-width: 600px) {
  .star {
    width: 24px;
    height: 24px;
    top: 3px; } }
.meta {
  color: #2a90b8;
  margin-top: 10px;
  margin-bottom: 20px; }

.bdt {
  border-top: 1px solid #dddddd;
  padding-top: 20px; }

.pu .logo-pu svg path {
  fill: #0C839D; }
.pu .subhead {
  color: #ff9c41; }
.pu a {
  color: #ff9c41; }
.pu .tldr {
  background: #fff9f4; }

.resizer {
  /* Full-screen takeover… */
  background: #2e3336;
  text-align: center;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2014; }
  .resizer h1 {
    color: #eb4d6d;
    margin-top: 20%;
    font-size: 4rem; }
  .resizer .mf h1 {
    color: #5fcf80; }
  .resizer p, .resizer .two-thirds ol, .two-thirds .resizer ol {
    color: #dddddd; }

@media only screen and (min-width: 600px) {
  .resizer h1 {
    font-size: 5rem; } }
@media only screen and (min-width: 1024px) {
  .resizer h1 {
    font-size: 6rem; } }
.resume .two-thirds .subhead {
  margin: 10px 0 0; }

.resume-title {
  margin-bottom: 20px; }

@media only screen and (min-width: 600px) {
  .resume-title {
    border-bottom: 1px solid #dddddd; } }
.details {
  color: #888888;
  margin-top: -30px; }

.org {
  font-weight: 700;
  color: #2A90B8;
  margin-bottom: 15px; }
  .org:before {
    content: "§";
    display: inline-block;
    margin-right: 10px; }

.title {
  margin: 20px 0; }

.project {
  padding: 50px 0 0; }

@media only screen and (min-width: 600px) {
  .project {
    padding-top: 70px; } }
.curri {
  background: #415463;
  background: linear-gradient(to bottom, #415463, #394a57);
  color: #fff; }
  .curri h2 {
    color: #fff; }
  .curri .project-view {
    color: #fff;
    border: 2px solid #fff; }
    .curri .project-view:hover {
      color: #415463;
      background: #fff; }

.rimidi .project-view {
  color: #eb4d6d;
  border: 2px solid #eb4d6d; }
  .rimidi .project-view:hover {
    color: #fff;
    background: #eb4d6d; }

.project-view {
  font-family: "freight-sans-pro", "cronos-pro-subhead", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 700;
  display: inline-block;
  margin: 20px auto;
  text-transform: uppercase;
  padding: 10px 20px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px; }
  .project-view:hover {
    text-decoration: none; }

.project-img {
  width: 90%;
  display: block;
  margin: 0 auto; }

.blue {
  color: #2a90b8; }
