// Use of the sass-globbing gem means that files in a folder are imported in alphabetical order. This file needs to be the first in the list within the 'globals' folder.
$color-main: #454D52;
$color-success: #88DB81;
$color-warning: #FDB343;
$color-danger: #FF5454;
$color-primary: #5DA3FD;
$color-red: #EB4D6D;
$color-orange: #FF9C41;
$color-blue: #2A90B8;
$color-green: #5fcf80;
$grey-lt: #ddd;
$grey-md: #888;
$grey-dk: #51515B;

$global-radius: 4px;
$global-border: 1px solid $grey-lt;
$sans-serif: "freight-sans-pro", "cronos-pro-subhead","Helvetica Neue", "Helvetica", sans-serif;
$serif: "rooney-web", "merriweather", Georgia, Cambria, "Times New Roman", Times, serif;

// breakpoint sizes
$small-end: 480px;
$med-end: 600px;
$large-start: 1024px;