.title {
  margin: 20px 0;
}

.project {
  padding: 50px 0 0;
}

@include media-query(medium) {
  .project {
    padding-top: 70px;
  }
}

.curri {
  background: #415463;
  background: linear-gradient(to bottom, #415463, darken(#415463, 4%));
  color: #fff;
  h2 {
    color: #fff;
  }
  .project-view {
    color: #fff;
    border: 2px solid #fff;
    &:hover {
      color: #415463;
      background: #fff;
    }
  }
}

.rimidi {
  .project-view {
    color: $color-red;
    border: 2px solid $color-red;
    &:hover {
      color: #fff;
      background: $color-red;
    }
  }
}

.center {
  @extend %center-left-text;
}
.project-view {
  font-family: $sans-serif;
  font-weight: 700;
  display: inline-block;
  margin: 20px auto;
  text-transform: uppercase;
  padding: 10px 20px;
  @include border-radius(7px);
  &:hover {
    text-decoration: none;
  }
}

.project-img {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.blue {
  color: $color-blue;
}