.header {
  padding: 0;
  text-align: center;
  border-bottom: 1px solid $grey-lt;
  @include media-query(medium) {
    text-align: left;
    border: none;
    padding-top: 20px;
  }
}

.logo {
  margin: 0 auto 0 -20px;
}

.nav {
  list-style-type: none;
  padding: 0;
  margin-top: -15px;
  margin-right: -20px;
  @include media-query(medium) {
    float: right;
    margin-top: 30px;
  }
}

.navmenu {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
}

.navlinks {
  display: inline-block;
  padding: 20px 15px;
  color: $grey-md;
  font-weight: 500;
  text-transform: uppercase;
  &:hover {
    text-decoration: none;
    color: $color-red;
  }
  @include media-query(medium) {
    padding: 10px 35px;
  }
  &.current {
    color: $color-red;
    cursor: default;
  }
}