// Clearfix: use .cf, apply to .row
%cf {
  *zoom: 1;
  &:before,
  &:after {
  content: " ";
  display: table;
  }
  &:after {
  clear: both;
  }
}

%center-left-text {
  text-align: center;
}

@include media-query(medium) {
  %center-left-text {
    text-align: left;
  }
}

%bdb {
  border-bottom: 1px solid $grey-lt;
}