<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="css/syntax.css">
        <link rel="icon" href="/favicon.ico" type="image/x-icon"> 
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> 
        <script type="text/javascript" src="//use.typekit.net/hcp3atm.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    </head>
    <body ontouchstart="">
      <div class="container">
        <div class="row">
          <div class="column half">
            <a href="/" class="logo logo-green">{% include logo.html %}</a>
          </div>
        </div>
        {{ content }}
      </div>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <!-- Thanks to Mig Reyes for the 'resizer' script http://ow.ly/uvjft -->
      <script type="text/javascript" src="/js/jquery.resizer.min.js"></script>
      <script>
        $(function() {
          $('[data-resizer]').resizer({delay: 500, duration: 1500});
        });
      </script>
    </body>
</html>
